<div class="content-heading">
  <div>
    Add A New Company
  </div>
</div>
<div class="col-md-12">
  <!-- START card-->
  <div class="card card-default">
    <!-- <div class="card-header">Horizontal form</div> -->
    <div class="card-body">
      <form class="form-horizontal" [formGroup]="companyForm" (submit)="submit($event, companyForm.value)">
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="company_name">Company Name <small>Example: Plumber Leads
                    (Seattle)</small></label>
                <input formControlName="company_name" id="company_name" type="text" class="form-control"
                  placeholder="Enter Company Name" autocomplete="off" required="">
                <div class="text-danger"
                  *ngIf="companyForm.controls['company_name'].hasError('required') && (companyForm.controls['company_name'].dirty || companyForm.controls['company_name'].touched)">
                  This field is required</div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="company_name">Phone Number</label>
                <input formControlName="phone_number" id="phone_number" type="text" class="form-control"
                  placeholder="Enter Phone Number" autocomplete="off" required="">
                <div class="text-danger"
                  *ngIf="companyForm.controls['phone_number'].hasError('required') && (companyForm.controls['phone_number'].dirty || companyForm.controls['phone_number'].touched)">
                  This field is required</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="company_email">Email</label>
                <input formControlName="company_email" id="company_email" type="text" class="form-control"
                  placeholder="Enter Email" autocomplete="off" required="">
                <div class="text-danger"
                  *ngIf="companyForm.controls['company_email'].hasError('required') && (companyForm.controls['company_email'].dirty || companyForm.controls['company_email'].touched)">
                  This field is required</div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="country_id">Select Country</label>
                <select formControlName="country_id" id="country_id" class="form-control" required="">
                  <option value="">--Select Country--</option>
                  <option *ngFor="let country of countries$ | async" [value]="country.id">{{country.country_name}}
                  </option>
                </select>
                <div class="text-danger"
                  *ngIf="companyForm.controls['country_id'].hasError('required') && (companyForm.controls['country_id'].dirty || companyForm.controls['country_id'].touched)">
                  This field is required</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-sm-12">
            <h4>Optional Fields:</h4>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="first_name">First Name</label>
                <input formControlName="first_name" id="first_name" type="text" class="form-control"
                  placeholder="Enter First Name" autocomplete="off">
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="last_name">Last Name</label>
                <input formControlName="last_name" id="last_name" type="text" class="form-control"
                  placeholder="Enter Last Name" autocomplete="off">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="company_website">Company Website</label>
                <input formControlName="company_website" id="company_website" type="text" class="form-control"
                  placeholder="Enter Company Website" autocomplete="off">
              </div>
            </div>
          </div>
          <hr>
          <div class="col-sm-12">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="address">Address</label>
                <input formControlName="address" id="address" type="text" class="form-control"
                  placeholder="Enter Address" autocomplete="off">
              </div>
              <div class="form-group col-md-6">
                <div class="col-md-4 float-left">
                  <label class="col-form-label" for="city">City</label>
                  <input formControlName="city" id="city" type="text" class="form-control" placeholder="Enter City"
                    autocomplete="off">
                </div>
                <div class="col-md-4 float-left">
                  <label class="col-form-label" for="state">State</label>
                  <input formControlName="state" id="state" type="text" class="form-control" placeholder="Enter State"
                    autocomplete="off">
                </div>
                <div class="col-md-4 float-left">
                  <label class="col-form-label" for="state">Zip</label>
                  <input formControlName="zip" id="zip" type="text" class="form-control" placeholder="Enter Zip"
                    autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <button class="btn btn-sm btn-primary mr-1" type="submit">Submit</button>
              <button class="btn btn-sm btn-danger" type="button" [routerLink]="['/company/company-list']">
                Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END card-->
</div>
