<div class="content-heading">
    <div>Change Password</div>
  </div>
  <div class="col-md-12">
    <!-- START card-->
    <div class="card card-default">
      <!-- <div class="card-header">Horizontal form</div> -->
      <div class="card-body">
        <form novalidate [formGroup]="changePasswordForm" (submit)="submit($event, changePasswordForm.value)">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="newPassword">New Password</label>
            <div class="col-md-4">
              <input formControlName="newPassword" id="newPassword" name="newPassword" type="password" class="form-control"
                placeholder="New Password" autocomplete="off" required />
              <div class="text-danger"
                *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)">
                This field is required</div>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="auth">Confirm Password</label>
            <div class="col-md-4">
              <input formControlName="confirmPassword"  id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                placeholder="Confirm Password" autocomplete="off" required />
  
              <div class="text-danger"
                *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)">
                This field is required</div>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-xl-2 col-form-label"></label>
            <div class="col-xl-8">
              <button class="btn btn-sm btn-primary mr-1" type="submit">Submit</button>
              <button class="btn btn-sm btn-danger" type="button"  [routerLink]="['/home']">Cancel</button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>